@using System.Collections.Generic
@model IEnumerable<BookStore.Domain.Models.User>

@{
    ViewData["Title"] = "Index";
}
<vc:user-action></vc:user-action>
<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Avatar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoginIp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoginTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoginCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDelete)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PointCount)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avatar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginIp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointCount)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
