@using BookStore.Domain.Models
@model BookStore.Models.ProfileViewModel

@{
    ViewData["Title"] = "推送记录";
}
@await Component.InvokeAsync("Profile", new { user = Model.User })

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <th>文件</th>
                <th class="text-right">大小</th>
                <th>来源</th>
                <th class="text-right">收件邮箱</th>
                <th>时间</th>
                <th>状态</th>
                <th class="text-right">耗时(秒)</th>
            </tr>
            @{
                foreach (var log in Model.ActionLogList)
                {
                    var _class = log.PushStatus == PushStatusEnum.Success ? "success" : "warning";
                    <tr class="@_class">
                        <td>
                            <a href="@Url.Action("Detail", "Book", new {id = log.BookEdition.Book.Id})">@log.BookEdition.OriginalFilename</a>
                        </td>
                        <td class="text-right">@Utils.FormatFileSize(log.BookEdition.Filesize)</td>
                        <td>@log.PushFromPlatform</td>
                        <td class="text-right">@log.PushEmail</td>
                        <td>@Utils.FormatDateTime(log.CreateTime)</td>
                        <td>@Utils.GetEnumDescription(log.PushStatus)</td>
                        <td class="text-right">@log.PushUseTime</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>