@model ProfileViewModel<BookStore.Domain.Models.BookEdition>

@{
    ViewData["Title"] = "上传记录";
}

<vc:profile user="Model.User"></vc:profile>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <th>书籍版本</th>
                <th>上传时间</th>
                <th>下载次数</th>
                <th>推送次数</th>
            </tr>
            @{
                foreach (var log in Model.ActionLogList)
                {
                    <tr class="info">
                        <td>
                            <a asp-controller="Book" asp-action="Detail" asp-route-id="@log.Book.Id">
                                @log.OriginalFilename
                            </a>
                        </td>
                        <td>@Utils.FormatDateTime(log.CreateTime)</td>
                        <td>@log.DownloadCount.ToString()</td>
                        <td>@log.PushCount.ToString()</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>