@model IEnumerable<BookStore.Domain.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuthorIntroduction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Logo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Translator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Isbn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookCatelog)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Introduction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DoubanId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DoubanUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DoubanRatingScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DoubanRatingPeople)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDelete)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorIntroduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Translator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCatelog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Introduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoubanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoubanUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoubanRatingScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoubanRatingPeople)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelete)
            </td>
            <td> </td>
        </tr>
}
    </tbody>
</table>
