@model ProfileComponentViewModel
@inject UserUtil UserUtil
@{
    var user = Model.User;
}

<div class="row">
    <div class="col-md-2">
        <a href="@Url.Action("SettingsAvatar", "Account")" title="@user.Username">
            <img class="pull-left img-circle avatar-medium" src="@UserUtil.GetAvatar(user.Avatar)" title="点击设定头像" alt="@Model.User.Username"/>
        </a>
    </div>
    <div class="col-md-3">
        <h3>@user.Username</h3>
        <p class="text-muted">账号类型: @Utils.GetEnumDescription(user.UserType)</p>
        <p class="text-muted">加入时间: @user.CreateTime.ToString("yyyy-MM-dd")</p>
        @{
            if (Model.IsLogined)
            {
                <a class="btn btn-default" href="@Url.Action("SettingsAvatar", "Account")"><i class="fa fa-cogs" aria-hidden="true"></i> 设置</a>
            }
        }
    </div>
    <div class="col-md-7">
        <div style="margin-top: 40px;" class="pull-right">
            <p><i class="fa fa-trophy"></i> 剩余积分：@user.PointCount</p>
            <p><i class="fa fa-download"></i> 今日下载：@Model.TodayDownloadCount</p>
            <p><i class="fa fa-paper-plane"></i> 今日推送：@Model.TodayPushCount</p>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom: 10px; margin-top: 25px;">
    <div class="col-md-12">
        <div class="btn-group" role="group">
            <a type="button" role="button" class="btn @Html.ActivePage("ProfileEdition", "Account") btn-switcher-profile" asp-controller="Account" asp-action="ProfileEdition">&nbsp;&nbsp;上传&nbsp;&nbsp;</a>
            <a type="button" role="button" class="btn @Html.ActivePage("ProfilePush", "Account") btn-switcher-profile" asp-controller="Account" asp-action="ProfilePush">&nbsp;&nbsp;推送&nbsp;&nbsp;</a>
            <a type="button" role="button" class="btn @Html.ActivePage("ProfileDownload", "Account") btn-switcher-profile" asp-controller="Account" asp-action="ProfileDownload">&nbsp;&nbsp;下载&nbsp;&nbsp;</a>
            <a type="button" role="button" class="btn @Html.ActivePage("ProfileComment", "Account") btn-switcher-profile" asp-controller="Account" asp-action="ProfileComment">&nbsp;&nbsp;评论&nbsp;&nbsp;</a>
            <a type="button" role="button" class="btn @Html.ActivePage("ProfileFavorite", "Account") btn-switcher-profile" asp-controller="Account" asp-action="ProfileFavorite">&nbsp;&nbsp;收藏&nbsp;&nbsp;</a>
            <a type="button" role="button" class="btn @Html.ActivePage("ProfileCheckin", "Account") btn-switcher-profile" asp-controller="Account" asp-action="ProfileCheckin">&nbsp;&nbsp;签到&nbsp;&nbsp;</a>

        </div>

    </div>
</div>