@model PushSettingsComponentViewModel
    
<ul class="dropdown-menu">
    @{
        if (Model.PushSettings.Count > 0)
        {
            foreach (var ps in Model.PushSettings)
            {
                if (ps.IsDefault == 1)
                {
                    <li><a data-pk="@(Model.EditionId)" data-pushmail="@(ps.PushEmail)" class="book-push" href="#"><i class="fa fa-paper-plane"></i>推送到 @(ps.PushEmail) (默认)</a></li>
                }
                else
                {
                    <li><a data-pk="@(Model.EditionId)" data-pushmail="@(ps.PushEmail)" class="book-push" href="#"><i class="fa fa-paper-plane"></i>推送到 @(ps.PushEmail)</a></li>
                }
            }
        }
    }
    <li class="divider"></li>
    <li><a target="_blank" href="@Url.Action("ProfilePush", "Account", new {username = Model.LoginedUser.Username})"><i class="fa fa-align-left"></i>推送状态</a></li>
    <li><a target="_blank" href="@Url.Action("SettingsPush", "Account")"><i class="fa fa-cog"></i>设置</a></li>
</ul>
