@model BookStore.Models.SettingsComponentViewModel
<div class="row">
    <div class="col-md-12">
        <h4>用户名: @Model.User.Username, 剩余积分: @Model.User.PointCount, 今日下载: @Model.TodayDownloadCount, 今日推送: @Model.TodayPushCount</h4>
        <ul class="nav nav-tabs">
            <li class="@Html.ActivePage("SettingsAvatar", "Account")">
                <a href="@Url.Action("SettingsAvatar", "Account")">修改用户名</a>
            </li>
            <li class="@Html.ActivePage("ChangeEmail", "Account")">
                <a href="@Url.Action("ChangeEmail", "Account")">修改登录邮箱</a>
            </li>
            <li class="@Html.ActivePage("ChangePassword", "Account")">
                <a href="@Url.Action("ChangePassword", "Account")" >修改密码</a>
            </li>
            <li class="@Html.ActivePage("SettingsAvatar", "Account")">
                <a href="@Url.Action("SettingsAvatar", "Account")">头像设置</a>
            </li>
            <li class="@Html.ActivePage("SettingsPush", "Account")">
                <a href="@Url.Action("SettingsPush", "Account")">推送设置</a>
            </li>
            <li class="">
                <a href="/accounts/settings/pro/">升级到Pro</a>
            </li>
        </ul>
    </div>
</div>